<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="background-color: #f8f8f8; padding: 20px; font-family: Arial, sans-serif;">
        <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div style="text-align: center;">
              <img src="https://chatchefs-prod.nyc3.digitaloceanspaces.com/chatchefs-prod/images/2024/09/08/chatchef.png" alt="Company Logo" style="max-width: 150px; margin-bottom: 20px;" />
            </div>
            <h2 style="color: #333333; text-align: center;">Hi {{instance.name}},</h2>
            <p style="color: #555555;">
                Thank you for booking a free demo with us. We’re excited to show you how we can help your restaurant <strong>${{instance.restaurant_name}}</strong> grow and thrive.
            </p>
            <p style="color: #555555;">
                You’ve chosen to explore our <strong>{{instance.looking_for}}</strong> service. We’re confident that this will be a great fit for your needs.
            </p>
    
            <p style="color: #555555;">
                If you have any questions or need further assistance, please feel free to reach out to us at sales@chatchefs.com or call us at  +1 2363121022. We’re here to help!
            </p>
            <p style="color: #555555;">
                Looking forward to our demo session!
            </p>
            <div style="text-align: center; margin-top: 40px;">
                <img src="https://chatchefs-prod.nyc3.digitaloceanspaces.com/chatchefs-prod/images/2024/09/08/team.png" alt="Team Member" style="width: 60px; height: 60px; border-radius: 50%;" />
                <p><strong>Sam J.</strong><br />Customer Success at Your Company</p>
            </div>
            <hr style="border: 0; height: 1px; background-color: #dddddd; margin: 40px 0;" />
            <p style="color: #999999; text-align: center;">
               13571 Commerce Pkwy #200, Richmond, BC V6V 2R2, Canada
            </p>
    
        </div>
    </div>
    
</body>
</html>