<!DOCTYPE html>
<html>
	<head>
		<title>Review Feedback</title>
	</head>
	<body>
		<p>Dear {{ customer_name }},</p>
		<p>
			Thank you so much for your kind words! We’re thrilled to hear that
			you enjoyed your experience with {{ restaurant_name }}. Your
			satisfaction is our top priority, and it’s always rewarding to know
			we’re doing a great job.
		</p>
		<p>
			We’re grateful for customers like you and look forward to serving
			you again soon. Don’t hesitate to let us know if there’s anything we
			can do to make your next experience even better.
		</p>
		<p>Thanks once again for choosing {{ restaurant_name }}!</p>
		<p>Warm regards,<br />The {{ restaurant_name }} Team</p>
	</body>
</html>
