<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ordering reminder set successfully</title>
	</head>
	<body style="font-family: Arial, sans-serif">
		<div
			style="
				max-width: 600px;
				margin: 0 auto;
				padding: 20px;
				background-color: #f5f5f5;
			"
		>
			<h2 style="color: #333">Hello {{ user }},</h2>

			<p style="color: #333">
				verify link: <a href="{{verify_link}}"> verify </a>
			</p>
		</div>
	</body>
</html>
